#mainMenuList > li:hover{
    background-color: darkgreen !important;
}

#mainMenuList > li:hover > a {
    text-decoration: underline;
}

#buscarAnimalForm:hover > button{
    background-color: darkgreen;
    border-width: 2px !important;
    transition: border-width 0.1s !important;
}

#buscarAnimalForm > button{
    border-width: 1px !important;
    transition: border-width 0.1s !important;
}



.parallaxBackgroundLarge{
  
  background-image: url("../../public/img/background-clear.jpg");  
    
  /* Set a specific height */
  min-height: 650px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxBackgroundMedium{
  
  background-image: url("../../public/img/background-clear.jpg");  
    
  /* Set a specific height */
  min-height: 200px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#pesContornTable{
    background: rgba(255,255,255,0.6) !important;
}

.transparentBackgroung{
    background: rgba(255,255,255,0.6) !important;
}

.transparentBackgroungAnimalItem{
    background: rgba(40,167,69,1) !important;
}